body {
  font-family: var(--main-font);
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
  }
  .section:not(.content) {
    padding-bottom: 94px;
  }
}

:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #212121;
  --secondary-color: #757575;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.web {
  color: #2196f3;
}

.secondary-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.667;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  top: 93px;
  left: 10px;
  max-width: 450px;
  max-height: 609px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon-close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.modal__header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal__link {
  padding-right: 3px;
  padding-left: 3px;
}

.modal__submit-btn {
  padding: 10px 76px;
  background: #2196f3;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin: 0 auto;
  cursor: pointer;
}

.modal__policy-text {
  font-size: 12px;
  line-height: 1.667;
  color: #757575;
  display: flex;
  margin-left: 7px;
  margin-bottom: 30px;
  align-items: center;
}

.modal__policy-text::before {
  content: "";
  display: block;
  height: 16px;
  width: 16px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__policy:checked + .modal__policy-text::before {
  background-color: #2196f3;
  border: none;
  background-image: url("../images/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 767px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
  .modal__policy-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__field {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.667;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__input-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-form__input:focus {
  outline: none;
  border-color: #2196f3;
}

.modal-form__input:focus + .modal-form-icon {
  fill: #2196f3;
}

.modal-form__comment {
  resize: none;
  width: 100%;
  height: 120px;
  left: 576px;
  top: 518px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__comment:focus {
  outline: none;
  border-color: #2196f3;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
  align-items: center;
}

.header .logo {
  margin-right: 93px;
}

@media screen and (max-width: 767px) {
  .hamburger-menu {
    position: absolute;
    right: 15px;
  }
  .hamburger-menu:hover, .hamburger-menu:focus {
    fill: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }
}

.navigation__list {
  display: flex;
}

.navigation__item:not(:last-child) {
  margin-right: 46px;
}

.navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
}

.navigation__link.current {
  color: #2196f3;
}

.navigation__link.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  position: relative;
  top: 30px;
}

.navigation__contacts-list {
  display: flex;
}

.navigation__contacts-item {
  align-items: center;
  display: flex;
}

.navigation__contacts-item:not(:last-child) {
  margin-right: 30px;
}

.navigation__contacts-link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
  fill: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__contacts-link:hover, .navigation__contacts-link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.icon-envelope,
.icon-smartphone {
  display: flex;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
  .navigation__contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navigation__contacts-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    top: 21px;
  }
  .navigation__contacts-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation__contacts-list {
    flex-direction: row;
    margin-left: 345px;
  }
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main/hero/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2f303a;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

.hero__header {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.612;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  text-align: center;
}

.hero__modal-btn {
  padding: 10px 42px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.870;
  cursor: pointer;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main/hero/hero-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main/hero/hero-tablet.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main/hero/hero-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main/hero/hero-desktop.jpeg");
  }
  .hero__header {
    font-size: 44px;
    line-height: 1.363;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main/hero/hero-desktop@2x.jpg");
  }
}

.content .container {
  display: flex;
  justify-content: center;
}

.content__list {
  display: flex;
  flex-direction: column;
}

.content__card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content__card:not(:last-child) {
  margin-bottom: 30px;
}

.content__container {
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: inherit;
}

.content__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.content__description {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  max-width: 450px;
}

@media screen and (min-width: 768px) {
  .content__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .content__card {
    max-width: 47%;
  }
  .content__card:nth-child(odd) {
    margin-right: 30px;
  }
  .content__description {
    min-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .content__list {
    flex-direction: row;
  }
  .content__card {
    max-width: 270px;
    display: flex;
    flex-wrap: no-wrap;
  }
  .content__card:not(:last-child) {
    margin-right: 30px;
  }
  .content__description {
    min-width: 270px;
  }
}

@media screen and (max-width: 1199px) {
  .about-us {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .about-us.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-us__list {
    display: flex;
  }
  .about-us__item {
    position: relative;
  }
  .about-us__item:not(:last-child) {
    margin-right: 30px;
  }
  .about-us__label {
    display: flex;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142px;
    text-align: center;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0;
  }
}

.our-team {
  background-color: #f5f4fa;
}

.our-team__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.our-team__item {
  margin-bottom: 30px;
}

.our-team__grid {
  padding-bottom: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  max-width: 450px;
}

.our-team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.our-team__position {
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  text-align: center;
}

.our-team__socials {
  display: flex;
  margin-top: 16px;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.our-team__social-link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team__social-link:focus, .our-team__social-link:hover {
  background-color: #2196f3;
  fill: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .our-team__item:nth-child(odd) {
    margin-right: 30px;
  }
  .our-team__grid {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .our-team__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0px;
  }
  .our-team__grid {
    max-width: 270px;
  }
}

.customers.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.customers__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.customers__item {
  display: flex;
}

.customers__card {
  display: flex;
  flex-direction: row;
  max-width: 210px;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  margin-bottom: 30px;
}

.customers__card:hover, .customers__card:focus {
  border-color: #2196f3;
}

.customers__link {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link:hover, .customers__link:focus {
  fill: #2196f3;
}

.customers__logo {
  width: 106px;
  height: 60.04px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers__card {
    max-width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .customers__list {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .customers__card {
    max-width: 170px;
  }
}

.footer {
  background-color: #2f303a;
}

.footer .logo {
  color: #ffffff;
  align-items: center;
}

.footer__contact-details {
  padding-top: 60px;
  padding-bottom: 20px;
}

.footer__address {
  display: flex;
  flex-direction: column;
}

.footer__address:not(:last-child) {
  margin-bottom: 8px;
}

.footer__direction {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
  margin-top: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__direction:hover, .footer__direction:focus {
  color: #2196f3;
}

.footer__contact {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contact:hover, .footer__contact:focus {
  color: #2196f3;
}

.footer__social-media {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer__join-us {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 65px;
}

.footer__socials {
  display: flex;
  justify-content: center;
}

.footer__item:not(:last-child) {
  margin-right: 10px;
}

.footer__link {
  display: flex;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover, .footer__link:focus {
  background-color: #2196f3;
}

.webstudio-social-icon {
  width: 20px;
  height: 20px;
}

.footer__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__form-wrapper {
  display: flex;
  flex-direction: column;
}

.footer__form-field {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 72px;
}

.footer__form-input {
  margin-top: 20px;
  min-width: 391px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
  padding-left: 16px;
}

.footer__form-btn {
  min-width: 200px;
  min-height: 50px;
  padding-left: 42px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}

.register {
  margin-right: 24px;
}

@media screen and (max-width: 1199px) {
  .footer .container {
    display: flex;
    flex-direction: column;
  }
  .footer__form-field {
    padding-top: 60px;
  }
  .footer__form-btn {
    margin-top: 20px;
    margin-bottom: 60px;
  }
  .footer__contact-details {
    text-align: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__contact-details {
    margin-right: 144px;
    margin-left: 76px;
    width: 253px;
  }
  .footer__form {
    min-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
    flex-direction: row;
  }
  .footer .footer__contact-details {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-right: 70px;
    min-width: 60px;
  }
  .footer .footer__address {
    display: flex;
    flex-direction: column;
  }
  .footer .footer__address:not(:last-child) {
    margin-bottom: 9px;
  }
  .footer__direction {
    margin-top: 20px;
    min-width: 246px;
  }
  .footer__social-media {
    padding-right: 0;
  }
  .footer__join-us {
    margin-bottom: 20px;
    margin-top: 0px;
    padding-top: 72px;
  }
  .footer__form-wrapper {
    margin-left: 75px;
  }
  .footer__form-field {
    padding-top: 72px;
  }
  .footer__form {
    flex-direction: row;
  }
  .footer__form-btn {
    margin-top: 108px;
    margin-left: 12px;
  }
}

.portfolio-filter .container {
  display: flex;
  flex-direction: column;
}

.portfolio-filter__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-filter__btn {
  padding: 6px 22px;
  margin-bottom: 15px;
  min-width: 130px;
  background: #f5f4fa;
  border-radius: 4px;
  border: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-filter__btn:focus, .portfolio-filter__btn:hover {
  background-color: #2196f3;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-filter__list {
  display: flex;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .portfolio-filter__list {
    justify-content: center;
  }
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects__item:focus, .projects__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__container {
  position: relative;
  width: 450px;
  height: 294px;
  overflow: hidden;
  display: flex;
}

.projects__item {
  width: 450px;
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
}

.projects__item:hover .projects__overlay {
  transform: translateY(0);
  transition: transform 250ms ease-in;
}

.projects__description {
  padding: 20px 24px;
}

.projects__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects__area {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.projects__overlay {
  position: absolute;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 24px;
}

.projects__overlay .projects__title,
.projects__overlay .projects__area {
  width: 381px;
  height: 196px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects {
    justify-content: flex-start;
  }
  .projects__item {
    width: 354px;
  }
  .projects__item:nth-child(odd) {
    margin-right: 30px;
  }
  .projects__container {
    width: 354px;
    height: 294px;
  }
}

@media screen and (min-width: 1200px) {
  .projects {
    justify-content: space-between;
  }
  .projects__item {
    width: 370px;
  }
  .projects__container {
    position: relative;
    width: 370px;
    height: 294px;
  }
}
/*# sourceMappingURL=main.css.map */