

.customers{

    &.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    }
}

.customers__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.customers__item{
  display: flex;
}


.customers__card {
  display: flex;
  flex-direction: row;
  max-width: 210px;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  margin-bottom: 30px;

    &:hover,
    &:focus {
  border-color: #2196f3;
}
}

.customers__link {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
   fill: #2196f3;
}
}

.customers__logo {
  width: 106px;
  height: 60.04px;
  
}

@media screen and (min-width: 768px) and (max-width: 1199px){
  .customers__card{
    min-width: 226px;
  }
}

@media screen and (min-width: 1200px){


.customers__list {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.customers__card{
    max-width: 170px;
  }
// .customers__card {
//   display: flex;
//   flex-direction: row;
//   width: 170px;
//   height: 92px;
//   border: 1px solid #afb1b8;
//   box-sizing: border-box;
//   border-radius: 4px;
//   align-items: center;
//   justify-content: center;
  
//     &:hover,
//     &:focus {
//   border-color: #2196f3;
// }
// }

// .customers__link {
//   fill: #afb1b8;
//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//    &:hover,
//    &:focus {
//    fill: #2196f3;
// }
// }

// .customers__logo {
//   width: 106px;
//   height: 60.04px;
// }
}