
.header {
  border-bottom: 1px solid #ececec;
  & .container {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
  align-items: center;
}
  & .logo {
  margin-right: 93px;
}
}

@media screen and (max-width:767px){
  
  .hamburger-menu{
    position: absolute;
    right: 15px;
    &:hover,
    &:focus{
      fill: #2196f3;
  }
  }
}



@media screen and (min-width: 768px){
  .hamburger-menu{
    display: none;
    }

  }
