.modal-form {
  display: flex;
  flex-direction: column;
}


.modal-form__field {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.667;
  letter-spacing: 0.01em;
  color: #757575;
  
}


.modal-form__input-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  
 
    &:focus {
    outline: none;
    border-color: #2196f3;
}
}
   .modal-form__input:focus + .modal-form__icon {
    fill: #2196f3;
   }

.modal-form__comment {
  resize: none;
  width: 100%;
  height: 120px;
  left: 576px;
  top: 518px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border-color: #2196f3;
  }
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}