.modal {
  position: absolute;
  top: 93px;
  left: 10px;
  min-width: 450px;
  min-height: 609px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon-close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.modal__header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}



.modal__link {
  padding-right: 3px;
  padding-left: 3px;
}

.modal__submit-btn {
  padding: 10px 76px;
  background: #2196f3;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin: 0 auto;
  cursor: pointer;
}

.modal__policy-text {
  font-size: 12px;
  line-height: 1.667;
  color: #757575;
  display: flex;
  margin-left: 7px;
  margin-bottom: 30px;
  align-items: center;
    
    &::before {
  content: "";
  display: block;
  height: 16px;
  width: 16px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}

.modal__policy:checked + .modal__policy-text::before {
  background-color: #2196f3;
  border: none;
  background-image: url("../images/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 767px){
  .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
}

@media screen and (min-width: 1200px){
   
  .modal{
   min-width: 528px;
   min-height: 581px;
  
  }
 
  .modal__policy-text {
  font-size: 14px;
  line-height: 1.71;
}

}