// .container {
//   width: 1200px;
//   padding: 0px 15px;
//   margin: 0 auto;
// }

.container {
  min-width: 320px;
  max-width: 520px;
  padding: 0px 15px;
  margin: 0 auto;
}



@media screen and (min-width: 768px){
  .container{
  max-width: 738px;
  padding: 0px 15px;
  margin: 0 auto;
  }
}

@media screen and (min-width: 1200px){
  .container{
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
    
  }
}